input{
    margin: 10px;
    border: none;
    border-bottom: 1px solid black;
   
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(6, 163, 253);
    border: none;
    color: white;
    padding: 16px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 65%;
  }
 textarea{
     
     border: none;
     border-bottom: 1px solid black;
 }

 .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 25px;
    
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    width: 25px;;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
    width: 25px;
  }
  .fa-instagram {
    background: #125688;
    color: white;
    width: 25px;
  }

  